<div class="navbar bg-base-100 justify-between px-6 py-4">
    <div class="flex items-center space-x-4">
      <a href="/" class="nav-link <%= (page == '/') ? 'active' : '' %>">Home</a>
      <a href="/lego/sets" class="nav-link <%= (page == '/lego/sets') ? 'active' : '' %>">Lego Collection</a>
      <a href="/lego/addSet" class="nav-link <%= (page == '/lego/addSet') ? 'active' : '' %>">Add to Collection</a>
    </div>
    <div class="flex items-center space-x-4">
      <a href="/about" class="nav-link <%= (page == '/about') ? 'active' : '' %>">About me</a>
    </div>
  </div>
  